h1 {
    color: white;
}

.navbar {
    padding: 1rem;
}

.btn-primary:hover {
    background-color: #e26d5c;
    color: white;
}

.hero-background-img {
    padding-top:100px;
    padding-bottom:100px;
    padding-left:15px;
    position: relative;
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.hero-background-img:after {
    content: "";
    position: absolute;
    background-image: url("doctor-on-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5; 
}